.container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: fit-content;
}

#displayDiv,
.row {
    display: flex;
}

#displayDiv{

    align-items: center;
    justify-content: flex-end;

    text-align: right; /* Align text to the right */
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap;

    
    min-height: 150px;

    border: 1px solid black;

    font-size: 30px;


}


.calc.body {
    display: flex;
    flex-direction: column;

}

.square-button{
    
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    
    border: 1px solid black;
    

    width: 80px;
    height: 80px;
}


.square-button:hover{
    background-color: blue;
}

.operator{
    color: grey;
}